/* AGENT_SHEET */
    @namespace url(http://www.w3.org/1999/xhtml);

    /*  Vorhersage klick auf Fahnen   */

    @-moz-document url-prefix("https://www.wetterkontor.de/de/wetter/schweden/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/norwegen/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/finnland/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/daenemark/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/niederlande/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/belgien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/grossbritannien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/irland/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/island/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/griechenland/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/luxemburg/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/frankreich/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/spanien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/oesterreich/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/schweiz/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/italien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/tschechische-republik/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/slowakei/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/slowenien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/polen/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/russische-foederation/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/estland/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/lettland/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/litauen/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/ukraine/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/ungarn/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/rumaenien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/bulgarien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/tuerkei/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/griechenland/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/serbien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/kroatien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/bosnien-herzegowina/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/montenegro/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/mazedonien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/albanien/"),
                   url-prefix("https://www.wetterkontor.de/de/wetter/portugal/")
                   {
    #header, H2, HR, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child,
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3, .uk-panel.uk-panel-box.uk-margin, .uk-grid.uk-grid-small.uk-grid-divider,
    #wkFooter2, .cc_banner.cc_container.cc_container--open, #sp_message_container_421683, #shr-admin-badge, .cc-window,
    div.uk-grid-small > div:nth-child(1) > div:nth-child(1), div.uk-grid-small > div:nth-child(2), div.uk-grid:nth-child(3),
    div.uk-panel:nth-child(14), div.uk-panel:nth-child(13){display: none !important;}
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #content > DIV > DIV:first-child > UL:nth-child(3),
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(8),
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(10),
    #content > DIV > DIV:first-child > ARTICLE > DIV:last-child,
    #content > DIV > DIV:first-child > UL:nth-child(8) > LI > A,
    #content > DIV > DIV:first-child > DIV:nth-child(8) > A,
    .uk-panel, #sp_message_container_421683,,
    .uk-width-small-1-2.uk-width-medium-1-2, 
    .uk-panel.uk-panel-box{display: none !important;}

    #page{box-shadow: none!important; border: none !important;}
 
    #content {height: 670px !important;}

    HTML, #start, .uk-grid {background: #FFFFFF !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > UL:last-child {margin-top: 100px !important; margin-bottom: -45px !important;}

    H1{margin-left: 210px !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/klima/")	{
    #header, H2, HR, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child,
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3, .uk-panel.uk-panel-box.uk-margin, .uk-grid.uk-grid-small.uk-grid-divider,
    #wkFooter2, .cc_banner.cc_container.cc_container--open, #sp_message_container_421683, #shr-admin-badge, .cc-window,
    div.uk-grid-small > div:nth-child(1) > div:nth-child(1), div.uk-grid-small > div:nth-child(2), div.uk-grid:nth-child(3),
    div.uk-panel:nth-child(14){display: none !important;}
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #content > DIV > DIV:first-child > UL:nth-child(3),
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(8),
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(10),
    #content > DIV > DIV:first-child > ARTICLE > DIV:last-child,
    #content > DIV > DIV:first-child > UL:nth-child(8) > LI > A,
    #content > DIV > DIV:first-child > DIV:nth-child(8) > A,
    .uk-panel, #sp_message_container_421683,,
    .uk-width-small-1-2.uk-width-medium-1-2, 
    .uk-panel.uk-panel-box{display: none !important;}

    #page{box-shadow: none!important; border: none !important;}
 
    #content {height: 670px !important;}

    HTML, #start, .uk-grid {background: #FFFFFF !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > UL:last-child {margin-top: 100px !important; margin-bottom: -45px !important;}

    H1{margin-left: 210px !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/wetter/deutschland/rueckblick.asp"){
    #header, H2, HR, P,  
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3, 
    .uk-panel.uk-panel-box.uk-margin,
    .uk-grid.uk-grid-small.uk-grid-divider,
    #wkFooter2, 
    .cc_banner.cc_container.cc_container--open, 
    #sp_message_container_421683, #shr-admin-badge, 
    div.uk-grid-small > div:nth-child(1) > div:nth-child(1), 
    div.uk-grid-small > div:nth-child(2), div.uk-grid:nth-child(3),
    div.uk-panel:nth-child(14),div.uk-margin:nth-child(17), 
    ins.adsbygoogle:nth-child(4),
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #content > DIV > DIV:first-child > UL:nth-child(3),
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child,
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(8),
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(10),
    #content > DIV > DIV:first-child > ARTICLE > DIV:last-child,
    #content > DIV > DIV:first-child > UL:nth-child(8) > LI > A,
    #content > DIV > DIV:first-child > DIV:nth-child(8) > A,
    .uk-panel, #sp_message_container_421683,
    .uk-width-small-1-2.uk-width-medium-1-2, 
    .uk-panel.uk-panel-box,
    #content > DIV > DIV:first-child > DIV:first-child > UL > LI:last-child,
    .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,  
    .uk-width-large-2-5.uk-width-medium-1-2, 
    #content > DIV > DIV:first-child > DIV:nth-child(21),
    #content > DIV > DIV:first-child > DIV:nth-child(10),
    .banner728x90, 
    #content > DIV > DIV:first-child > DIV:nth-child(8),
    div.uk-panel:nth-child(6),
    #tage5bis8, 
    .uk-width-large-1-6.uk-hidden-small.uk-hidden-medium,
    .uk-grid.uk-margin.uk-hidden-small.uk-hidden-medium, 
    #tabelle > p:nth-child(5){display: none !important;}

    #page{box-shadow: none!important; border: none !important;}
 
    #content {height: 670px !important;}

    HTML, #start, .uk-grid {background: #FFFFFF !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > UL:last-child {margin-top: 100px !important; margin-bottom: -45px !important;}

    H1{margin-left: 210px !important;}

    body {margin-top: 25px !important;}
	
    #content > article:nth-child(1) > h1:nth-child(2){margin-left: 15px !important;}
    }
		
    @-moz-document url("https://www.wetterkontor.de/de/wetter/deutschland/") {
    #header, H1,H2, HR, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child,
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3, .uk-panel.uk-panel-box.uk-margin, #sp_message_container_421683,
    .uk-grid.uk-grid-small.uk-grid-divider,	#wkFooter2, .uk-list, .cc_banner.cc_container.cc_container--open {display: none !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    #content > DIV > DIV:first-child > H1, #shr-admin-badge,
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(8),
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(10),
    #content > DIV > DIV:first-child > ARTICLE > DIV:last-child,
    #sp_message_container_421683,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .uk-width-small-1-2.uk-width-medium-1-2,
    .uk-text-right.uk-text-small.uk-text-muted, .uk-form-row,
    .uk-panel.uk-panel-box{display: none !important;}

    #page_margins { margin-top: -115px !important;}
	
    #page{box-shadow: none!important; border: none !important;}	
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > UL:last-child {margin-top: 100px !important; margin-bottom: -45px !important;}

    #wkRCol > TABLE > TBODY > TR > TD:first-child > DIV > DIV:nth-child(8), 
    #wkRCol > TABLE > TBODY > TR > TD:first-child > DIV > DIV:nth-child(9) {
    width: 0px !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/wetter-vorhersage/deutschland/muenchen"){
    #header, H1,H2, HR, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child,
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3, .uk-panel.uk-panel-box.uk-margin, .uk-grid.uk-grid-small.uk-grid-divider, 
    #wkFooter2, .uk-list, .cc_banner.cc_container.cc_container--open, #sp_message_container_421683  {display: none !important;}
	
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A, 
    #content > DIV > DIV:first-child > H1, #shr-admin-badge, #sp_message_container_421683,
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(8), 
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(10),
    #content > DIV > DIV:first-child > ARTICLE > DIV:last-child,
    .uk-width-small-1-2.uk-width-medium-1-2,
    .uk-text-right.uk-text-small.uk-text-muted, .uk-form-row,
    .uk-panel.uk-panel-box{display: none !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/wetter-vorhersage/deutschland/(*)"){
    #page {margin-top: -10px !important;}
    .breadcrumb {margin-top: 5px !important;}
    #header > DIV:first-child, #header > DIV:last-child, #wkFooter2,
    #content > DIV > DIV:last-child > DIV:nth-child(14), #shr-admin-badge,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child
    {display: none !important;}
    }

    @-moz-document url("https://www.wetterkontor.de/de/wetter/deutschland/bayern.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/schleswigholstein-hamburg.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/badenwuerttemberg.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/brandenburg-berlin.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/niedersachsen.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/niedersachsen-bremen.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/hessen.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/mecklenburgvorpommern.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/nordrheinwestfalen.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/rheinlandpfalz-saarland.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/sachsen.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/sachsenanhalt.asp"),
                   url("https://www.wetterkontor.de/de/wetter/deutschland/thueringen.asp"){

    #header, H1,H2, HR, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3, .uk-panel.uk-panel-box.uk-margin, .uk-grid.uk-grid-small.uk-grid-divider,
    #wkFooter2, .cc_banner.cc_container.cc_container--open, #bnr, #maine0d59d447b, .mir_info.mir_info-outside  {display: none !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    #content > DIV > DIV:first-child > H1, #sp_message_container_421683,
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(8),
    #content > DIV > DIV:first-child > ARTICLE > H2:nth-child(10),
    #content > DIV > DIV:first-child > ARTICLE > DIV:last-child,
    .uk-width-small-1-2.uk-width-medium-1-2, #shr-admin-badge,
    .uk-text-right.uk-text-small.uk-text-muted, .uk-form-row,
    .uk-panel.uk-panel-box{display: none !important;}

    #page_margins { margin-top: -100px !important;}
	
    #page{box-shadow: none!important; border: none !important;}	
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}

    #content > DIV > DIV:first-child > DIV:nth-child(3) > UL:last-child > LI:first-child {margin-top: 100px !important; margin-bottom: -50px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(3) > UL:last-child > LI:last-child  {margin-top: 100px !important; margin-bottom: -50px !important;}
    }

    @-moz-document url-prefix("https://www.wetterkontor.de/de/wetter/deutschland/wetter-vorhersage-ort.asp"){
    #header, H1, H2, HR, P, #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child,
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,  #sp_message_container_421683,,
    .uk-panel.uk-panel-box.uk-margin, #sp_message_container_421683,
    .uk-grid.uk-grid-small.uk-grid-divider, #wkFooter2, .cc_banner.cc_container.cc_container--open  {display: none !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    #content > DIV > DIV:first-child > H1, #shr-admin-badge,
    #content > DIV > DIV:first-child > ARTICLE > DIV:last-child,
    #content > DIV > DIV:first-child > DIV:nth-child(6) > DIV > UL,
    #content > DIV > DIV:first-child > DIV:first-child,
    #content > DIV > DIV:first-child > DIV:nth-child(20),
    #content > DIV > DIV:first-child > P:nth-child(27),
    #content > DIV > DIV:first-child > P:last-child,
    #content > DIV > DIV:first-child > DIV:nth-child(14) > DIV,
    #content > DIV > DIV:first-child > DIV:nth-child(23) > P:last-child > A,
    .uk-subnav.uk-subnav-pill, .uk-subnav.uk-subnav-line,
    .uk-width-small-1-2.uk-width-medium-1-2,
    .uk-form-row    {display: none !important;}

    #content > DIV > DIV:first-child > UL:nth-child(9) > LI:nth-child(2),
    #content > DIV > DIV:first-child > UL:nth-child(9) > LI:first-child,
    #content > DIV > DIV:first-child > UL:nth-child(9) > LI:nth-child(3),
    #content > DIV > DIV:first-child > UL:nth-child(9) > LI:last-child,
    #content > DIV > DIV:first-child > UL:nth-child(17) > LI:first-child,
    #content > DIV > DIV:first-child > UL:nth-child(17) > LI:nth-child(2),
    #content > DIV > DIV:first-child > UL:nth-child(17) > LI:nth-child(3),
    #content > DIV > DIV:first-child > UL:nth-child(17) > LI:last-child
    {max-width: 150px !important; margin-left: 15px !important; margin-right: -15px !important;}

    #warnungen > H2{margin-left: 10px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(23) > DIV > DIV:last-child{min-width: 200px !important;}
    #content > DIV > DIV:first-child > H2:nth-child(5){ margin-left: 70px !important; margin-top: -25px !important;}
    #content > DIV > DIV:first-child > H2:nth-child(8){ margin-left: 130px !important;}
    #content > DIV > DIV:first-child > H2:nth-child(16){ margin-left: 220px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(23) > P:nth-child(2) > SPAN { margin-left: 12px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(23) > H3 { margin-left: 12px !important; margin-right: -10px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(23) > DIV > DIV:first-child {width: 360px !important;
    margin-left: 10px !important; margin-right: -30px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(23) > DIV > DIV:first-child > DL {width: 500px !important;
    margin-left: 10px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(23) > DIV > DIV:nth-child(2),
    #content > DIV > DIV:first-child > DIV:nth-child(23) > DIV > DIV:last-child  {max-width: 110px !important; }
    }

    @-moz-document url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-gefuehlte-temperatur.asp"),
	           url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-feuchte.asp"),
		   url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-sichtweite.asp"),
		   url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-druck.asp"),
		   url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-wind.asp"),
		   url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-wetter.asp"),
		   url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-niederschlag.asp"),
		   url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-temperatur.asp"),
		   url-prefix("https://www.wetterkontor.de/de/aktuelle-werte-deutschland-sonnenscheindauer.asp"){

    /*Text unten unsichtbar*/
    .uk-article {
    font-size: 0px;}

    /*Textbox über dem Datum wieder lesbar*/
    .uk-panel.uk-panel-box {
    color: black;
    font-size: 13px;}

    DIV[data-uk-tooltip=""]{
    font-size: 12px!important;
    color: black!important;}

    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .uk-align-medium-right, div.uk-h3,
    .uk-width-large-3-5 > article:nth-child(1) > hr:nth-child(8),
    .uk-width-large-3-5 > article:nth-child(1) > hr:nth-child(9),
    .uk-width-large-3-5 > article:nth-child(1) > h3:nth-child(9),
    .uk-width-large-3-5 > article:nth-child(1) > h3:nth-child(10),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(13),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(15),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(16),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(17),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(18),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(19),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(20),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(21),
    .uk-width-large-3-5 > article:nth-child(1) > h4:nth-child(23),
    .uk-width-large-3-5 > article:nth-child(1) > a:nth-child(n+1),
    #header, H1, H2, P, .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,
    #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5),
    .uk-text-right.uk-text-small.uk-text-muted, #sp_message_container_421683,
    #content > DIV > DIV:first-child > ARTICLE > UL > LI:last-child,
    #content > DIV > DIV:first-child > ARTICLE > UL > LI:first-child > A,
    .uk-panel.uk-panel-box.uk-margin, .message-container, .message-overlay, .message,
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    #shr-admin-badge, .cc_banner.cc_container.cc_container--open,
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(4) > HR {display: none !important;}

    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(4) > UL:last-child > LI:first-child {margin-top: -30px !important;}
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(4) > UL:last-child > LI:last-child {margin-top: -30px !important;}
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(4) > UL:first-child > LI:nth-child(7) {margin-left: 215px !important;}

    #shr-admin-badge,
    #content > DIV > DIV:first-child > ARTICLE > UL > LI:first-child,
    #content > DIV > DIV:first-child > ARTICLE > UL > LI:last-child {display: none !important;}

    .uk-panel.uk-panel-box {max-height: 42px !important; margin-top: -8px !important;}

    .uk-h4.wk-header-margins {margin-bottom: 2px !important; margin-top: 3px !important;}

    LI{margin-top: 3px !important;}

    #page{box-shadow: none!important; border: none !important;}

    HTML, #start, .uk-grid {background: #FFFFFF !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/radar/radar-ost.asp"),
                   url-prefix("https://www.wetterkontor.de/de/radar/radar-suedost.asp"),
                   url-prefix("https://www.wetterkontor.de/de/radar/radar-nordost.asp"),
                   url-prefix("https://www.wetterkontor.de/de/radar/radar-suedwest.asp"),
                   url-prefix("https://www.wetterkontor.de/de/radar/radar-west.asp"),
                   url-prefix("https://www.wetterkontor.de/de/radar/radar-nordwest.asp"){		
    #header, H1, H2, P,   .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,  
    #wkFooter2, .uk-text-right.uk-text-small.uk-text-muted, .uk-width-small-1-2.uk-width-medium-1-3.uk-row-first,
    #content > DIV > DIV:first-child > DIV:nth-child(3) > DIV > DIV:first-child > UL > LI > A ,
    #content > DIV > DIV:first-child > DIV:nth-child(3) > DIV > DIV:first-child > UL, 
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #shr-admin-badge, .cc_banner.cc_container.cc_container--open {display: none !important;}	
	
    #r1 {margin-left: 50px !important;}

    #content > DIV > DIV:first-child > DIV:nth-child(3){width: 500px !important; margin-left: 55px !important;}
    #content > DIV > DIV:first-child > DIV:nth-child(3) > DIV {width: 490px !important; margin-left: 5px !important; 
    background: transparent !important; }
    .uk-subnav.uk-subnav-pill.uk-align-medium-right {min-width: 380px !important;}    
	
    #page{box-shadow: none!important; border: none !important;}	
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/radar.asp")	               {
		
    #header, H1, H2, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, 
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), 
    .uk-text-right.uk-text-small.uk-text-muted, #shr-admin-badge, .uk-panel.uk-panel-box.uk-margin, #sp_message_container_421683,
    #tage5bis8, .uk-width-large-1-6.uk-hidden-small.uk-hidden-medium, div.uk-grid:nth-child(3),
    #page_margins > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1),
    div.uk-panel:nth-child(14), .cc_banner.cc_container.cc_container--open {display: none !important;}
	
    #page{box-shadow: none!important; border: none !important;}	

    HTML, #start, .uk-grid {background: #FFFFFF !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/bio/uv-index.asp")	{

    #header, H1, H2, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, 
    .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), 
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .uk-text-right.uk-text-small.uk-text-muted,#shr-admin-badge, .uk-panel.uk-panel-box.uk-margin, 
    .uk-width-large-2-5.uk-width-medium-1-2, H5, .cc_banner.cc_container.cc_container--open, #start > IMG
    {display: none !important;}
    }	
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-hasel.asp"),
                   url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-erle.asp"),
                   url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-birke.asp"),
                   url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-graeser.asp"),
                   url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-ambrosia.asp"),
                   url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-beifuss.asp"),
                   url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-roggen.asp"),
                   url-prefix("https://www.wetterkontor.de/de/bio/pollenflug-esche.asp"){

    #header, H1, H2, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb,
    .uk-width-large-2-5.uk-width-medium-1-3,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), .uk-text-right.uk-text-small.uk-text-muted,
    .uk-panel.uk-panel-box.uk-margin, .uk-width-large-2-5.uk-width-medium-1-2, H5, TABLE, .uk-panel.uk-panel-box.uk-panel-box-primary, #start > IMG,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .cc_banner.cc_container.cc_container--open {display: none !important;}
	
    #page{box-shadow: none!important; border: none !important;}	
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}
    }

    @-moz-document url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-bayern.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-badenwuerttemberg.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-brandenburg-berlin.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-hessen.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-mecklenburgvorpommern.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-niedersachsen-bremen.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-nordrheinwestfalen.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-rheinlandpfalz-saarland.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-sachsen.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-sachsenanhalt.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-schleswigholstein-hamburg.asp"),
                   url-prefix("https://www.wetterkontor.de/warnungen/wetterwarnungen-thueringen.asp"){

    #header,H1, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right, #content > DIV > DIV:first-child > P:nth-child(6),
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), .uk-panel.uk-panel-box.uk-margin, .banner728x90,
    .uk-width-large-1-6.uk-hidden-small.uk-hidden-medium, .uk-width-1-1.uk-hidden-small.uk-text-center,
    #content > DIV > DIV:first-child > P:nth-child(3), #content > DIV > DIV:first-child > P:nth-child(2),
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child > DIV,
    .cc_banner.cc_container.cc_container--open	{display: none !important;}
   
    #page{box-shadow: none!important; border: none !important;}
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}
    
    DIV[class="warnungen_box uk-panel uk-panel-box uk-panel-box-primary"]{margin-top: -300px !important;}

    #karte {margin-left: -100px !important;}
    }

    @-moz-document url-prefix("https://www.wetterkontor.de/warnungen/warnung.asp"){

    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,		
    #header, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,  
    .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(7),
    .mir_container.mir_ad-800, div.uk-grid-small > div:nth-child(2),
    div.uk-grid:nth-child(3), .banner728x90, #shr-admin-badge, 
    #content > DIV > DIV:first-child > DIV:nth-child(8), #content > DIV > DIV:first-child > DIV:nth-child(9),
    .cc_banner.cc_container.cc_container--open {display: none !important;}	

    body {margin-left: 20px !important;}	
	
    #content {height: 700px !important; width: 1200px !important;}
    
    #page{box-shadow: none!important; border: none !important;}	
	
    .uk-grid.uk-grid-width-medium-1-2 {margin-left: 0px !important;}
	
    HTML, #start, .uk-grid {background: #FFFFFF !important; }
	
    #karte {margin-left: -110px !important; margin-top: 80px !important;}
    }

    @-moz-document url("https://www.wetterkontor.de/warnungen/"){
	
    #header, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,
    #content > DIV > DIV:first-child > DIV:first-child > UL > LI:nth-child(3),	
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(10),
    .banner728x90, #shr-admin-badge, #content > DIV > DIV:first-child > DIV:nth-child(8),
    div.uk-grid-small:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1),
    div.uk-grid-small:nth-child(1) > div:nth-child(2), div.uk-grid:nth-child(3),
    .cc_banner.cc_container.cc_container--open {display: none !important;}	
	
    body {margin-left: 25px !important;}	
	
    #content {height: 700px !important; width: 1200px !important;}
  
    #page{box-shadow: none!important; border: none !important;}	
	
    .uk-grid.uk-grid-width-medium-1-2 {margin-left: 0px !important;}
	
    HTML, #start, .uk-grid {background: #FFFFFF !important; }
    }

    @-moz-document url-prefix("https://www.wetterkontor.de/wetter-warnungen/"){

    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #header, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,  
    .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(10),
    .banner728x90, #shr-admin-badge, #content > DIV > DIV:first-child > DIV:nth-child(8),
    div.uk-panel:nth-child(15), 
    #tage5bis8, .uk-width-large-1-6.uk-hidden-small.uk-hidden-medium,
    .uk-grid.uk-margin.uk-hidden-small.uk-hidden-medium,
    .uk-panel.uk-panel-box.uk-margin,
    #content > DIV > DIV:first-child > DIV:nth-child(7),
    #content > DIV > DIV:first-child > P:nth-child(4),
    #content > DIV > DIV:first-child > P:nth-child(5),
    .cc_banner.cc_container.cc_container--open {display: none !important;}	
	
    #content {height: 700px !important; }
    
    #page{box-shadow: none!important; border: none !important;}	
	
    HTML, #start, .uk-grid {background: #FFFFFF !important; }
	
    #content > DIV > DIV:first-child > DIV:nth-child(6) > UL {margin-left: 0px !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/wetter-vorhersage/deutschland/"),
	               url-prefix("https://www.wetterkontor.de/de/radar/radar-vorhersage.asp"){
    #header, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,  
    .uk-width-large-2-5.uk-width-medium-1-3, #sp_message_container_421683,
    #content > DIV > DIV:first-child > DIV:first-child,
    #content > DIV > DIV:first-child > DIV:nth-child(2) > UL > LI:nth-child(5),
    #content > DIV > DIV:first-child > DIV:nth-child(21), 
    #content > DIV > DIV:first-child > FORM > DIV,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #aktuelle_beobachtung > P:last-child, div.uk-panel:nth-child(15),
    #tage5bis8, .uk-width-large-1-6.uk-hidden-small.uk-hidden-medium,
    .uk-grid.uk-margin.uk-hidden-small.uk-hidden-medium,
    #content > DIV > DIV:first-child > DIV:nth-child(2) > UL > LI:last-child,
    #content > DIV > DIV:first-child > DIV:nth-child(2) > UL > LI:nth-child(6),
    #content > DIV > DIV:first-child > P:nth-child(27),
    .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(10),
    .banner728x90, #shr-admin-badge, #content > DIV > DIV:first-child > DIV:nth-child(8),
    .cc_banner.cc_container.cc_container--open {display: none !important;}
	
    .uk-panel, H1, H2, #content > DIV > DIV:first-child > P:nth-child(4),
    .uk-subnav.uk-subnav-line {margin-left: 30px !important;}
	
    #content > DIV > DIV:first-child > DIV:nth-child(7){margin-left: -15px !important;}
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}
	
    #page{box-shadow: none!important; border: none !important;}	
    }
		
    @-moz-document url-prefix("https://www.wetterkontor.de/biowetter/"){
    #content > DIV > DIV:first-child > DIV:first-child > UL > LI:last-child,
    #header, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,  
    .uk-width-large-2-5.uk-width-medium-1-2, #content > DIV > DIV:first-child > DIV:nth-child(21),
    .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(10),
    .banner728x90, #shr-admin-badge, #content > DIV > DIV:first-child > DIV:nth-child(8),
    .cc_banner.cc_container.cc_container--open, div.uk-panel:nth-child(6),
    #tage5bis8, .uk-width-large-1-6.uk-hidden-small.uk-hidden-medium,
    .uk-grid.uk-margin.uk-hidden-small.uk-hidden-medium, #sp_message_container_421683,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child,div.uk-margin:nth-child(6),
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .uk-panel.uk-panel-box.uk-margin {display: none !important;}
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}

    body {margin-top: 25px !important;}
	
    #page{box-shadow: none!important; border: none !important;}	
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/blitze/"){
    #header, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,  
    .uk-width-large-2-5.uk-width-medium-1-3, #content > DIV > DIV:first-child > DIV:nth-child(21),
    #content > DIV > DIV:first-child > ARTICLE > P:nth-child(7),
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(8),
    #content > DIV > DIV:first-child > ARTICLE > P:nth-child(9),
    #content > DIV > DIV:first-child > ARTICLE > P:nth-child(10),
    #content > DIV > DIV:first-child > ARTICLE > P:nth-child(11),
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(12),
    #content > DIV > DIV:first-child > ARTICLE > P:nth-child(13),
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(10),
    div.uk-panel:nth-child(15), div.uk-panel:nth-child(5),
    #tage5bis8, .uk-width-large-1-6.uk-hidden-small.uk-hidden-medium,
    .uk-grid.uk-margin.uk-hidden-small.uk-hidden-medium, 
	.uk-width-large-3-5 > article:nth-child(1) > hr:nth-child(6),
    .banner728x90, #shr-admin-badge, #content > DIV > DIV:first-child > DIV:nth-child(8),
    #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(6),
    .cc_banner.cc_container.cc_container--open, #wetterkontor_incontent_1,
    .uk-h3, .uk-width-large-3-5 > article:nth-child(1) > p:nth-child(8),
     div.uk-h4:nth-child(9), div.uk-margin:nth-child(11), div.uk-h4:nth-child(14),
    .uk-width-large-3-5 > article:nth-child(1) > p:nth-child(15),
    .uk-width-large-3-5 > article:nth-child(1) > p:nth-child(16),
    .uk-width-large-3-5 > article:nth-child(1) > p:nth-child(17),
    .uk-width-large-3-5 > article:nth-child(1) > p:nth-child(19),
    div.uk-h4:nth-child(18){display: none !important;}

    HTML, #start, .uk-grid {background: #FFFFFF !important;}	
	
    H1{margin-left: 160px !important;}
	
    #page{box-shadow: none!important; border: none !important;}	
    }		
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/wetter/europa/"){
    #header,H1, H2, .uk-width-large-2-5.uk-width-medium-1-3, .uk-text-right, .uk-text-muted, #content > DIV > DIV:first-child > ARTICLE >
    DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5),
    .uk-panel, .div_part,#content > DIV > DIV:first-child > P:nth-child(2), .uk-grid.uk-grid-small.uk-grid-match,
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    .cc_banner.cc_container.cc_container--open, #start > IMG {display: none !important;}
	
    #page{box-shadow: none!important; border: none !important;}	
	
    HTML, #start, .uk-grid {background: #FFFFFF !important;}
    }
	
    @-moz-document url-prefix("https://www.wetterkontor.de/de/pegel/"){
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-top.cc-color-override-530831885,
    #page_margins > DIV > DIV > DIV:first-child > DIV:first-child > DIV,
    #page_margins > DIV > DIV > DIV:last-child, #sp_message_container_421683,
    #page_margins > DIV > DIV > DIV:first-child > DIV:last-child,
    #header, H1, H2, P, #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), #shr-admin-badge,
    #content > DIV > DIV:first-child > DIV, #content > DIV > DIV:first-child > ARTICLE > DIV:last-child > HR,
    .breadcrumb,.uk-width-large-2-5.uk-width-medium-1-3, #start > IMG, .cc_banner-wrapper {display: none !important;}	

    .uk-panel.uk-panel-box.uk-margin {margin-top: -5px !important;}
    }

    @-moz-document domain(www.msn.com) {
    #header,  div.sectionContainer-DS-EntryPoint1-1:nth-child(4), .root-DS-EntryPoint1-1 > div:nth-child(6), 
    .oneFooter-DS-EntryPoint1-1 ,.button_contentRegion-DS-EntryPoint1-1, .locateButton-DS-EntryPoint1-1,
    .feedback_link_default-DS-EntryPoint1-1.button-DS-EntryPoint1-3,.weather_alerts_link-DS-EntryPoint1-1,
    .profile_signInLink-DS-EntryPoint1-1,  #onetrust-consent-sdk, .homeButton-DS-EntryPoint1-1,
    .weatherOverview_root-DS-EntryPoint1-1 > div:nth-child(6), .profile_actionLink-DS-EntryPoint1-1,
    .adsContent-DS-EntryPoint1-1, div.sectionContainer-DS-EntryPoint1-1:nth-child(2),
    .datafrom_text-DS-EntryPoint1-1{display: none! important;}

    .weather_alerts_title-DS-EntryPoint1-1{
    margin-top: 38px !important;
    margin-left: -160px !important;
    max-width: 200px !important;
    word-wrap: break-word !important;}

    .weather_alerts_level-DS-EntryPoint1-1{
    margin-top: -25px !important; 
    min-height: 24px !important;
    pointer-events: none !important;}

    body{margin-top: -125px !important;}

   .weather-section{margin-top: 40px !important;}

   .weatherAdscontainer-DS-EntryPoint1-1{margin-top: 35px !important;}

    a.chevron-DS-EntryPoint1-1:nth-child(3) {
    margin-right: -35px !important;}

    a.chevron-DS-EntryPoint1-1:nth-child(1){
    margin-left: -35px !important;}
    }

    @-moz-document domain(www.daswetter.com) {

    #cfav, .shared, .avisos, .container_sticky, .navegacion,
    #bannerDerPC, #meteored_share, span.principal:nth-child(3),
    span.secundaria:nth-child(4), .megabanner, span.franja:nth-child(4),
    span.columnas:nth-child(5) > span:nth-child(1) > span:nth-child(2),
    span.columnas:nth-child(6), span.franja:nth-child(7), #bannerSupPC,
    .publicidad-pie, .pie-pagina, .map-loc-titulo, span.creatividad:nth-child(2),
    #pubIzq, #contSup, #foots, #pubSup, .mas-noticias, #zona-contenido,
    #shared, div.leaflet-bottom:nth-child(4), #full_screen, .leaflet-control-zoom,
    #izquierda, #selector_tipos, .der, #contPag	{display: none !important;}
	
    .estado{margin-top: -50px !important; margin-left: 450px !important;}
	
    #pCentro{margin-top: 90px !important;}
	
    .mapa {margin-left: -120px !important;}
	
    .resumen-dia{margin-left: 48px !important; margin-top: -20px !important;}
	
    #contDias{margin-left: -10px !important;}
	
    #divGota{min-height: 64px !important;}
	
    span.principal:nth-child(2){margin-left: 345px !important; margin-bottom: 20px !important;}
	
    h1.titulo{margin-bottom: 15px !important;}
	
    #highcharts-p78qazo-0{min-height: 600px !important;}
	
    .franja > span:nth-child(1){max-width: 650px !important; margin-left: 5px !important;}
	
    span.columnas:nth-child(3),.titulo-horas, .franja	{  
    box-shadow: none!important; border: none !important;} 
	
    span.columnas:nth-child(1) > span:nth-child(1) > span:nth-child(1),
    span.columnas:nth-child(5) > span:nth-child(1) > span:nth-child(1),
    span.columnas:nth-child(5) > span:nth-child(1) > span:nth-child(1) > span:nth-child(1){  
    box-shadow: none!important; border: none !important;} 
	
    #iw-container{margin-left: 250px !important;}
	
    .mapa #pCentro #controles_mm {
    position: relative !important;
    margin-left: 5px !important;}
	
    div.leaflet-bottom:nth-child(3){margin-left: 35px !important;}
	
    [class="secundaria"]{ 
    margin-left:35px !important; margin-right: -80px !important;}
	
    [class="prevision-hoy-horas"]{
    margin-left:280px !important; margin-right: -280px !important; margin-top:30px !important;
    margin-bottom: -50px !important; box-shadow: none!important;}
	
    [class="tabla-horas"]{
    margin-right: -30px !important; margin-top:50px !important;
    width: 730px !important;}
	
    [class="por-horas"]{ margin-top:-15px !important; }
	
    #search_pc{margin-left: -2px !important; max-width: 300px !important;}
	
    #divPestanas, 
    .loc-dia {margin-left: 30px !important;}
	
    #cookies {margin-right: -30px !important;}

    .grafica{margin-left: 15px !important; width: 740px !important;}
	
    .sin_prob{margin-left: 285px !important; margin-right: -255px !important;
    margin-bottom: -70px !important; }
	
    .titulo-horas{margin-left: 50px !important; margin-right: -30px !important;
    margin-bottom: 30px !important; margin-top: -20px !important;}
	
    span.columnas:nth-child(2) > span:nth-child(1) > span:nth-child(2) > section:nth-child(1){
    margin-top: -20px !important;}
	
    span.columnas:nth-child(2) > span:nth-child(1) > span:nth-child(1) > section:nth-child(1){
    margin-left: 305px !important; min-width: 740px !important;}
	
    span.columnas:nth-child(3) > span:nth-child(1) > span:nth-child(1) > section:nth-child(1){
    margin-left: 35px !important; max-width: 735px !important;}
	
    span.columnas:nth-child(3) > span:nth-child(1) > span:nth-child(2){
    margin-left: 70px !important; margin-top: -30px !important; }
	
    .grafica-horas,
    .highcharts-root {margin-left: 15px!important;  min-width: 740px !important;}
		
    .dos-semanas .dia.activo::after {
    border-right: 51px solid transparent !important;
    border-left: 51px solid transparent !important;}

    header #contSup{
    margin-left: -40px !important; 
    box-shadow: none!important; 
    border: none !important;}
	
    .navegacion{
    margin-left: -100px !important; 
    box-shadow: none!important;
    border: none !important;}

    span.columnas:nth-child(2){margin-left: -270px !important; 
    box-shadow: none!important; border: none !important;}
	
    #contenedorHora{margin-left: 70px !important;}
	
    #mod_derecha{margin-left: -145px !important;}
	
    #mods_cont
    {width: 85% !important; margin-left: 60px !important;
    box-shadow: none!important; border: none !important;}

    #pCentro {margin-left: 120px !important;}	
	
    .lluvia-nieve{margin-left: 55px !important; min-width: 760px !important;}
	
    span.columnas:nth-child(5) > span:nth-child(1) > span:nth-child(1){
    max-width: 760px !important; margin-left: 25px !important;}
	
    #mapid{min-height: 500px !important;  
    margin-left: 5px !important; margin-top: -80px !important; 
    box-shadow: none!important; border: none !important;}

    #controles_mm {margin-left: -70px !important;}
	
    #container{margin-left: -20px !important;}

    #h1Ul > h1:nth-child(1){margin-left: 120px !important;}
    #mapaAlertas{margin-left: 90px !important;}

    #tipAlert{margin-left: 50px !important;}	

    span.columnas:nth-child(5){margin-top: -50px !important;}
    span.columnas:nth-child(2){margin-top: -60px !important;}

    .subcabecera {padding-left: 20px !important; 
    box-shadow: none!important; border: none !important;}

    .dos-semanas{padding-left: 40px !important; 
    box-shadow: none!important; border: none !important;}
	
    span.columnas:nth-child(1){margin-left: 20px !important;}
	
    .ulMove{margin-left: 130px !important;}

    .estado-actual, span.columnas:nth-child(1),
    span.franja:nth-child(4),span.columnas:nth-child(5),
    span.columnas:nth-child(6), span.columnas:nth-child(7){padding-left: 50px !important; 
    box-shadow: none!important; border: none !important;}

    .franjas{
    background: #FFFFFF !important; 
    box-shadow: none!important; 
    border: none !important; 
    margin-left:-45px !important;}
	
    .lluvia-nieve > span:nth-child(1){
    box-shadow: none!important; 
    border: none !important;}

    navegacion label{border: none !important;}	
    
    .estado-actual{margin-left: -36px !important;}
	
    .map-loc-titulo{margin-left: -50px !important;}
	
    .dos-semanas{margin-left: -28px !important;}
	
    .carrusel{margin-left: 13px !important;}
	
    span.columnas:nth-child(1) > span:nth-child(1) > span:nth-child(2){margin-left: -6px !important;}
	
    .por-horas{margin-top: 24px !important; margin-left: -4px !important;}	
    }
	
    @-moz-document url-prefix(https://www.daswetter.com/nachrichten/aktuelles/),
                   url-prefix(https://www.daswetter.com/nachrichten/){
		
    .franjas	{display: none !important;}

    .portada-noticias{margin-left: -55px !important; max-width: 770px !important;}
	
    .navegacion-portada-noticias {margin-left: 40px !important;}
    }
	
    @-moz-document url(https://www.daswetter.com/satelliten/) {
	
    .selectSateliteLugar {display: none !important;}
	
    .h1-contenido{margin-left: -255px !important;}
		
    div.leaflet-bottom:nth-child(4) {display: none !important;}
    #mapid{margin-left: 10px !important; min-width: 770px !important;}
	
    .mapa #pCentro #controles_mm {
    position: relative !important;
    margin-left: 45px !important;}
    }
	
    @-moz-document url-prefix(https://www.daswetter.com/radar-deutsc-regen.html) {
    .selectRadarLugar {display: none !important;}
	
    .h1-contenido{margin-left: 200px !important;}
	
    #mapid{min-width: 780px !important; margin-left: 50px !important;}
	
    .mapa #pCentro #controles_mm {
    position: relative !important;
    margin-left: 100px !important;}
    }
	
    @-moz-document url-prefix(https://www.daswetter.com/wetterwarnungen/) {
    .selectDias, .selectMapaLugar {display: none !important;}
	
    .franja{max-width: 750px !important; margin-left: 84px !important;}
	
    .h1-contenido{margin-left: -75px !important;}
    }	
	
    @-moz-document url-prefix(https://www.daswetter.com/wetterkarten/prcnub-aleman.html) {
    .selectMapaLugar {display: none !important;}
	
    .h1-contenido{margin-left: 150px !important;}
    }

    @-moz-document domain(www.meteocentrale.ch) {
    #header,#top,#left,#c8548,#right,#footer,#wetterapp_border > NOSCRIPT,#content > H1,#page > NOSCRIPT,.qc-cmp-cleanslate,
    body > div:nth-child(10),body > div:nth-child(9), body > div:nth-child(16),body > div:nth-child(13), 
    #lower-content > center:nth-child(6){display: none !important;}

    #wetterapp_border{
    margin-left: -30px !important;
    margin-top: -10px !important;}
    }

    @-moz-document domain(www.wetter.net) {
    header.row {background: transparent !important;}
	
    div.col-md-5:nth-child(3) {margin-top: 5px !important; margin-bottom: -30px !important; margin-left:-24px !important;}
    .city-favs{margin-top: -10px !important; margin-left:-220px !important;}

    .col-md-10 > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) > p:nth-child(3),
    .col-md-10 > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) > p:nth-child(3)	{background: white !important; 
    color: black !important; font-weight: bold !important;}

    #city_search_input {background: white !important; color: black !important; font-weight: bold !important;}
	
    #search-wrapper{margin-bottom: 20px !important; margin-left: 8px !important; margin-top: -2px !important;}
	
    .toggle-favs-icon-down:after,
    .toggle-favs-icon-up:after {
    color: white !important;}

    #bodyContainer_switch > DIV:nth-child(5) > DIV > UL, .advertising_billboard,
    HTML > BODY > DIV:first-child, NAV, FOOTER, HTML > BODY > DIV:nth-child(12),
    .upArrow, .row.social_share_city , .advertising_pubperform.row,
    .col-sm-4.teaser_block, .advertising_city.col-xs-12, .advertising_left,
    .col-sm-8.teaser_block.teaser_block_2, .teaser_container > div:nth-child(1),
    div.container-fluid, .weather_container > div:nth-child(10), .share_buttons_float_right,
    #banner, #sky, HTML > BODY > DIV:nth-child(9) > DIV > DIV > DIV, .col-md-3 > a:nth-child(1),    
    .weather_container > div:nth-child(9), .advertising_right     
    {display: none !important;}

    .white.todayTextHeader{font-size: 24px !important;}
    .white.center.todayText {font-size: 20px !important;}
    p{font-size: 18px !important;}
    }

    @-moz-document domain(www.unwetterzentrale.de),
                   domain(www.niederschlagsradar.de),
                   url-prefix(http://db.eurad.uni-koeln.de/prognose/data/aktuell/trh_eur_1h_movd1.gif),
                   url-prefix(https://www.dwd.de/DWD/wetter/wv_allg/deutschland/film/vhs_deutschland.jpg),
                   url-prefix(https://www.dwd.de/DWD/wetter/aktuell/deutschland/bilder/wx_deutschland.jpg),
                   domain(www.meteox.de){
    HTML {background: #FFFFFF !important;} 
    }

    @-moz-document url-prefix("https://www.wetteronline.de/regenradar/berlin-bundesland"),
                   url-prefix("https://www.wetteronline.de/regenradar/hamburg-bundesland"),
                   url-prefix("https://www.wetteronline.de/regenradar/bremen-bundesland"),				   
                   url-prefix("https://www.wetteronline.de/regenradar/mecklenburg-vorpommern"),
                   url-prefix("https://www.wetteronline.de/regenradar/niedersachsen"),
                   url-prefix("https://www.wetteronline.de/regenradar/nordrhein-westfalen"),
                   url-prefix("https://www.wetteronline.de/regenradar/sachsen"),
	           url-prefix("https://www.wetteronline.de/regenradar/bayern"),
	           url-prefix("https://www.wetteronline.de/regenradar/braunschweig"),				   
                   url-prefix("https://www.wetteronline.de/regenradar/baden-wuerttemberg"),
                   url-prefix("https://www.wetteronline.de/regenradar/thueringen"),
                   url-prefix("https://www.wetteronline.de/regenradar/sachsen-anhalt"),
                   url-prefix("https://www.wetteronline.de/regenradar/saarland"),				   
	           url-prefix("https://www.wetteronline.de/regenradar/hessen"),
                   url-prefix("https://www.wetteronline.de/regenradar/schleswig-holstein"),
                   url-prefix("https://www.wetteronline.de/regenradar/brandenburg-bundesland"),
                   url-prefix("https://www.wetteronline.de/regenradar/rheinland-pfalz"){

    #top, #searchbox, #favorites, #memberarea_wrapper, #woBillboard, div._3Sb_2c:nth-child(12), #sp_message_container_389665,
    #map-searchform, div.leaflet-top:nth-child(2), ._1KFpPt, div.leaflet-bottom:nth-child(4), .top-right > wo-zoom:nth-child(2),
    #content-navigation, #header, #topcontainer, cc_banner, .cc_banner-wrapper, #ultraleftcontainer, .top-right,
    .cleverpush-bell, #rightcontainer {display: none !important;}

    ._1OzLNe {margin-bottom: 0px !important; margin-left: -120px !important;}
    #content{margin-top: -100px !important;}	
    }
