@-moz-document url-prefix("chrome://browser/content/browser.xhtml") {
    #PersonalToolbar,
    #PlacesToolbarItems {
        max-height: calc(20px * 3) !important;
        min-height: 20px !important;
    }
    #PlacesToolbar > hbox {
        display: block;
    }
    #PersonalToolbar toolbarbutton {
        max-height: 20px !important;
        min-height: 20px !important;
        margin: 0 1px !important;
    }
    #PlacesToolbarItems {
        display: flex;
        flex-wrap: wrap;
        -moz-window-dragging: no-drag;
        overflow-x: visible;
        overflow-y: auto;
    }
    #PlacesToolbar #PlacesChevron {
        display: none;
    }
}
