@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xhtml){

#usercssloader-menu-item {
	background-image: url("../icons/CSS.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	margin-right: -5px !important;
	margin-left: -6px !important;
}

#usercssloader-menu-item:hover {
	background-color: var(--toolbarbutton-hover-background);
	border-radius: 3px!important;
}

#usercssloader-menu-item #usercssloader-menu > .menu-text[value="CSS"] {
	opacity: 0;
	width: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
	height: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
}
}