    @charset "UTF-8";

    /* Titelleiste verschieben */
    #titlebar { -moz-box-ordinal-group: 2; }

    /* Symbolleistenanpassung */
    [tabsintitlebar="true"][sizemode="maximized"] #navigator-toolbox { padding-top: 8px !important; }
    #titlebar,#tabbrowser-tabs { -moz-appearance: none !important; }

    /* Wenn die Windows 10-Titelleiste und der Fensterrahmen weiß sind und das Firefox-Design die Standardeinstellung ist
       Umgang mit dem Zustand, in dem die Titelleistenschaltfläche aufgrund der Hintergrundfarbe unsichtbar ist */
    #main-window:not([lwtheme="true"]) #window-controls toolbarbutton,
    #main-window:not([lwtheme="true"]) .titlebar-buttonbox .titlebar-button { color: rgb(24, 25, 26) !important; }
    #main-window:not([lwtheme="true"]) #window-controls toolbarbutton:not([id="close-button"]):hover,
    #main-window:not([lwtheme="true"]) .titlebar-buttonbox .titlebar-button:not(.titlebar-close):hover {
    background-color: var(--lwt-toolbarbutton-hover-background, hsla(0,0%,70%,.4)) !important; }}

    /* Titelleistenschaltfläche nach rechts oben verschieben */
    #navigator-toolbox:not([style^="margin-top:"])[style=""][inFullscreen="true"] #window-controls,
    [tabsintitlebar="true"] .titlebar-buttonbox-container { display: block; position: fixed; right: 0; }
    [tabsintitlebar="true"][sizemode="normal"] .titlebar-buttonbox-container { top: 1px; }
    [tabsintitlebar="true"][sizemode="maximized"] .titlebar-buttonbox-container { top: 8px; }
    #navigator-toolbox:not([style^="margin-top:"])[style=""][inFullscreen="true"] #window-controls { top: 0; }

    /* Auf der rechten Seite Platz schaffen, damit die Schaltflächen der Titelleiste und der Navigationssymbolleiste nicht im Vollbildmodus angezeigt werden */
    [tabsintitlebar="true"]:not([inFullscreen="true"]) #nav-bar { padding-right: 139px !important; }    
    #navigator-toolbox[inFullscreen="true"] #nav-bar { padding-right: 109px !important; }

    /* Mehrzeilige Tableiste */
    box[class="scrollbox-clip"][orient="horizontal"],
    tabs > arrowscrollbox { display: block; }
    scrollbox[part][orient="horizontal"] {
        display: flex;
        flex-wrap: wrap; }
    tabs tab[fadein]:not([pinned]) { flex-grow: 1; }
    tabs tab,.tab-background { height: var(--tab-min-height); }
    tab > .tab-stack { width: 100%; }

    /* Drag-Bereich auf der linken und rechten Seite der
       Tab-Leiste ausblenden - verstecken
       Links und rechts → hbox.titlebar-spacer 
       links → hbox.titlebar-spacer[type="pre-tabs"] 
       rechts → hbox.titlebar-spacer[type="post-tabs"] */
    hbox.titlebar-spacer
    ,
    /* Ausblenden - Verstecken */
    #alltabs-button,tabs tab:not([fadein]){ display: none; }

