    @charset "UTF-8";

    /* Titelleiste verschieben */
    #titlebar { -moz-box-ordinal-group: 2; }

    /* Menüleiste nach oben verschieben */
    #toolbar-menubar { position: fixed; display: inline-flex; }
    [sizemode="maximized"]:not([tabsintitlebar="true"]) #toolbar-menubar,
    [sizemode="normal"] #toolbar-menubar { top: 1px; }
    [sizemode="maximized"] #toolbar-menubar { top: 8px; }

    /* Platz für die Menüleiste über der Symbolleiste schaffen */
    #main-window[tabsintitlebar="true"] #navigator-toolbox:not([inFullscreen="true"]) { border-top: solid 29px transparent !important; }
    #main-window:not([tabsintitlebar="true"]) #navigator-toolbox:not([inFullscreen="true"]) { border-top: solid 21px transparent !important; }

    /* Anderen leeren Bereich, als Menü und Titelleistenschaltflächen zu einem Ziehbereich machen */
    [tabsintitlebar="true"] #navigator-toolbox { -moz-window-dragging: drag; }

    /* Titelleistenschaltfläche nach rechts oben verschieben */
    [tabsintitlebar="true"] .titlebar-buttonbox-container { display: flex; position: fixed; right: 0; }
    [tabsintitlebar="true"][sizemode="normal"] .titlebar-buttonbox-container { top: 1px; }
    [tabsintitlebar="true"][sizemode="maximized"] .titlebar-buttonbox-container { top: 8px; }
    #main-window[inFullscreen="true"] #window-controls { display: flex; position: fixed; top: 0; right:0; }
    #main-window[inFullscreen="true"] #window-controls > toolbarbutton { display: inline; max-height: var(--tab-min-height); }

    /* Auf der rechten Seite Platz schaffen, damit die Schaltflächen der Titelleiste     
       und der Navigationssymbolleiste nicht im Vollbildmodus angezeigt werden */
    #main-window[inFullscreen="true"] #nav-bar { padding-right: 109px !important; }

    /* Mehrzeilige Tableiste */
    box[class="scrollbox-clip"][orient="horizontal"],
    tabs > arrowscrollbox { display: block; }
    scrollbox[part][orient="horizontal"] {
        display: flex;
        flex-wrap: wrap; }
    tabs tab[fadein]:not([pinned]) { flex-grow: 1; }
    tabs tab,.tab-background { height: var(--tab-min-height); }
    #main-window[proton] tabs tab,
    #main-window[proton] .tab-background {
        min-height: var(--tab-min-height);
        margin: 0 !important;
        padding: 0 !important; }
    tab > .tab-stack { width: 100%; }
    #tabs-newtab-button { margin: 0 !important; }

    /* Drag-Bereich auf der linken und rechten Seite der
       Tab-Leiste ausblenden - verstecken
       Links und rechts → hbox.titlebar-spacer 
       links → hbox.titlebar-spacer[type="pre-tabs"] 
       rechts → hbox.titlebar-spacer[type="post-tabs"] */
    hbox.titlebar-spacer
    ,
    /* Ausblenden - Verstecken */
    #toolbar-menubar[autohide="true"] + #TabsToolbar > .titlebar-buttonbox-container,
    tabs tab:not([fadein]),#scrollbutton-up,#scrollbutton-down { display: none; }

